@using ViewBlazor.Components.Commons.Fields
@using BlazorServerApp.Model.ViewModels
@using BlazorServerApp.ViewModel.Persons
@using System.ComponentModel
@implements IDisposable

<RadzenText TextStyle="TextStyle.H4" class="rz-mb-4">@ViewModel.Title</RadzenText>

<div class="rz-mb-3">
    <CommandView Command="@ViewModel.SaveCommand" />
    <CommandView Command="@ViewModel.DiscardCommand" />
</div>

@if (ViewModel.ValidationErrors != null && ViewModel.ValidationErrors.Any())
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Lighter" AllowClose="false" class="rz-mb-3">
        <RadzenText TextStyle="TextStyle.Subtitle2">Validation Errors:</RadzenText>
        @foreach (var group in ViewModel.ValidationErrors.GroupBy(e => e.ViewModel))
        {
            <div class="rz-mb-2">
                <strong>@group.Key?.ToString()</strong>
                <ul>
                    @foreach (var error in group)
                    {
                        <li>@error.PropertyName: @error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }
    </RadzenAlert>
}

@if (!string.IsNullOrEmpty(ViewModel.StatusMessage))
{
    <RadzenAlert AlertStyle="AlertStyle.Success" Shade="Shade.Lighter" AllowClose="false" class="rz-mb-3">
        @ViewModel.StatusMessage
    </RadzenAlert>
}

<RadzenRow Gap="1rem">
    <RadzenColumn Size="12" SizeMD="6">
        <CollectionFieldView T="PersonViewModel"
                             Field="@ViewModel.Persons"
                             SelectedItemChanged="@OnPersonSelected"
                             EmptyMessage="No persons found" />
    </RadzenColumn>

    <RadzenColumn Size="12" SizeMD="6">
        @if (ViewModel.SelectedPerson != null)
        {
            <PersonView ViewModel="@ViewModel.SelectedPerson" />
        }
        else
        {
            <RadzenText TextStyle="TextStyle.Body2" Style="color: var(--rz-text-tertiary-color);">Select a person to view details</RadzenText>
        }
    </RadzenColumn>
</RadzenRow>

@code {
    [Parameter]
    public PersonListViewModel ViewModel { get; set; } = null!;

    protected override void OnInitialized()
    {
        ViewModel.PropertyChanged += OnViewModelPropertyChanged;
    }

    private void OnViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    private void OnPersonSelected(PersonViewModel? person)
    {
        ViewModel.SelectedPerson = person;
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= OnViewModelPropertyChanged;
    }
}
