@using Model.ViewModels
@using ViewModel
@using ViewModel.Persons
@using ViewBlazor.Components.Home
@using ViewBlazor.Components.Persons
@inject DialogService DialogService

<RadzenTabs @bind-SelectedIndex="@_selectedIndex" Change="@OnTabChange" RenderMode="TabRenderMode.Client">
    <Tabs>
        @* Home tab (always present) *@
        <RadzenTabsItem>
            <Template>
                <RadzenIcon Icon="home" class="rz-mr-1" />
                <span>Home</span>
            </Template>
            <ChildContent>
                <HomeContent />
            </ChildContent>
        </RadzenTabsItem>

        @* Dynamic tabs *@
        @foreach (var tab in ViewModel.Tabs)
        {
            <RadzenTabsItem @key="tab.Id">
                <Template>
                    <span class="@(tab.HasChanges ? "rz-text-italic" : "")">@tab.Title</span>
                    @if (tab.HasChanges)
                    {
                        <span class="rz-color-danger rz-ml-1" title="Unsaved changes">*</span>
                    }
                    <RadzenButton Icon="close" Size="ButtonSize.ExtraSmall" Variant="Variant.Text"
                                  class="rz-ml-2" title="Close tab"
                                  Click="@(args => RequestCloseTab(tab))"
                                  @onclick:stopPropagation="true" />
                </Template>
                <ChildContent>
                    @switch (tab)
                    {
                        case PersonListViewModel personListVm:
                            <PersonListContent ViewModel="@personListVm" />
                            break;
                        default:
                            <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Lighter">
                                Unknown tab type: @tab.GetType().Name
                            </RadzenAlert>
                            break;
                    }
                </ChildContent>
            </RadzenTabsItem>
        }
    </Tabs>
</RadzenTabs>

@code {
    [Parameter]
    public MainWindowViewModel ViewModel { get; set; } = null!;

    private int _selectedIndex = 0;

    protected override void OnParametersSet()
    {
        UpdateSelectedIndex();
    }

    private void UpdateSelectedIndex()
    {
        if (ViewModel.IsHomeActive)
        {
            _selectedIndex = 0;
        }
        else if (ViewModel.ActiveTab != null)
        {
            var index = ViewModel.Tabs.ToList().IndexOf(ViewModel.ActiveTab);
            _selectedIndex = index + 1; // +1 because Home is at index 0
        }
    }

    private void OnTabChange(int index)
    {
        if (index == 0)
        {
            ViewModel.ActivateHome();
        }
        else
        {
            var tabIndex = index - 1;
            var tabs = ViewModel.Tabs.ToList();
            if (tabIndex >= 0 && tabIndex < tabs.Count)
            {
                ViewModel.ActivateTab(tabs[tabIndex]);
            }
        }
    }

    private async Task RequestCloseTab(IRootViewModel tab)
    {
        if (tab.HasChanges)
        {
            var result = await DialogService.Confirm(
                $"The tab \"{tab.Title}\" has unsaved changes. What would you like to do?",
                "Unsaved Changes",
                new ConfirmOptions
                {
                    OkButtonText = "Discard Changes",
                    CancelButtonText = "Cancel"
                });

            if (result == true)
            {
                tab.Discard();
                ViewModel.CloseTab(tab, force: true);
            }
        }
        else
        {
            ViewModel.CloseTab(tab, force: true);
        }
    }
}
