@using ViewModel

<div class="rz-p-4">
    <div class="rz-text-align-center rz-mb-4">
        <a class="navbar-brand" href="javascript:void(0)" @onclick="@(() => ViewModel.ActivateHome())">
            <RadzenText TextStyle="TextStyle.H5" class="rz-m-0">ViewBlazor</RadzenText>
        </a>
    </div>

    <RadzenPanelMenu Multiple="false" Click="@OnMenuClick">
        <RadzenPanelMenuItem Text="Home" Icon="home" Value="@("home")"
                            Selected="@ViewModel.IsHomeActive" />
        <RadzenPanelMenuItem Text="Data" Icon="storage">
            <RadzenPanelMenuItem Text="Persons" Icon="people" Value="@("persons")" />
        </RadzenPanelMenuItem>
    </RadzenPanelMenu>
</div>

@code {
    [Parameter]
    public MainWindowViewModel ViewModel { get; set; } = null!;

    private void OnMenuClick(MenuItemEventArgs args)
    {
        var value = args.Value?.ToString();

        switch (value)
        {
            case "home":
                ViewModel.ActivateHome();
                break;
            case "persons":
                ViewModel.CreateTab<PersonListViewModel>();
                break;
        }
    }
}
